footer{
    width: 100%;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 2;
    outline: none;
    color: #fff;
    background: #fff;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .company-logo{
    width: 100%;
    height: 100px;
    margin: 0 auto;
}